.env
venv/
.venv/
__pycache__/
.DS_Store
chroma/
chroma.sqlite3
enhanced_search_rag_cache/*
kiki.txt
/~
/~
~/.enhanced_search_rag_cache/chroma/aa4dc31c-9f3e-4dc4-86be-c111c0b5eea2/length.bin
~/.enhanced_search_rag_cache/chroma/chroma.sqlite3
~/.enhanced_search_rag_cache/chroma/chroma.sqlite3
