mcp
livekit-agents>=1.0.0rc7
livekit-plugins-openai>=1.0.0rc7
livekit-plugins-silero>=1.0.0rc7
livekit-plugins-azure>=1.0.0rc7
azure-cognitiveservices-speech
playwright
python-dotenv
pytz
httpx
requests
wikipedia-api
geopy
brotli
beautifulsoup4
bingsearchpy
html5lib
lxml
redis>=4.5.0
uvicorn
fastapi
pydantic
lxml-html-clean
aiohttp
